/* ibm-plex-mono-400normal - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
          local('IBM Plex Mono Regular '),
          local('IBM Plex Mono-Regular'),
          url('fonts/ibm-plex-mono-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/ibm-plex-mono-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-mono-700normal - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
          local('IBM Plex Mono Bold '),
          local('IBM Plex Mono-Bold'),
          url('fonts/ibm-plex-mono-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/ibm-plex-mono-latin-700.woff') format('woff'); /* Modern Browsers */
}
