.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid currentColor;
  border-bottom: 0;

  a {
    white-space: nowrap;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    display: block;
    color: $color;
    text-transform: uppercase;
    transform-origin: center center;
    transition: color 1.25s $easing;

    &:hover {
      border-bottom: 3px solid currentColor;
    }
  }

  &.email {
    order: 1;

    a {
      transform: rotate(-90deg);
    }
  }

  &.resume {
    order: 2;

    a {
      transform: rotate(90deg);
    }
  }
}
