#bio {
  width: 100%;
  border-bottom: 5px solid currentColor;
  border-top: 5px solid currentColor;
  transition: border-color 10s $easing;
  font-size: 150%;

  .bio-container {
    border-right: 5px solid currentColor;
    transition: border-color 10s $easing, color 10s $easing;
    min-width: 400px;
    padding: 1vmin 2vmin;
    width: 61.8%;
  }
}
