#works {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  margin: 20px 0;
  max-width: 1180px;

  .work {
    transition: color 0.5s $easing;
    position: relative;

    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }

    .title {
      margin: 10px 20px;
      display: inline-block;
      transition: color 2.5s $easing;
    }

    .overlay {
      width: 2em;
      height: 2em;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
      border-radius: 150px;
      transform: scale(0);
      transition: all 3s $easing;
      z-index: -1;
    }

    &:hover, &:focus {
      .title {
        border-bottom: 3px solid currentColor;
        margin-bottom: 7px;
      }

      .overlay {
        transform: scale(3.75);
      }
    }
  }
}

#selected-work {
  border-top: 5px solid currentColor;
  padding: 2vmin;
  font-size: 150%;
  animation: fade-in 2s $easing forwards;

  p {
    max-width: 61.8%;
  }

  a {
    text-decoration: none;

    &:hover, &:focus {
      border-bottom: 3px solid currentColor;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
