@media (max-width: 1000px) {
  body {
    flex-direction: column;
  }
  #container {
    order: 1;
    max-width: 100%;
  }
  .contact {
    width: 100%;

    &.email {
      order: 2;
    }
    &.resume {
      order: 3
    }
    a {
      background: $color !important;
      color: $bg !important;
      transform: none !important;
      margin: 0 0 1em 0;
      padding: 0 1em;
    }
  }
  #bio {
    .bio-container {
      min-width: 0;
      width: 100%;
    }
  }
  #works {
    .work {
      width: 100%;
    }
  }
}