$color: #f3f9cf;
$bg: #495fde;
$easing: cubic-bezier(.07, .95, 0, 1);

* {
  box-sizing: border-box;
}

html {
  background-color: $bg;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  display: flex;
  align-items: flex-start;
  color: $color;
  align-items: center;
  justify-content: center;
}

body,
html {
  height: 100%;
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
}

h1 {
  font-size: 1.61em;
}

p {
  font-size: 1em;
}

h1,
p {
  margin: 1vmin 0;
}

#app {
  transform: scale(0.9);
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: center;
  flex-direction: row;
  width: 100%;
  max-width: 1180px;
  justify-content: space-around;
  justify-items: stretch;
  display: flex;
  border-bottom: 5px solid currentColor;
  margin: 3vmin;
}

#container,
#selected-work {
  order: 2;
}

.button-reset {
  display: inline-block;
  font-size: 2em;
  border: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
  line-height: normal;
  -webkit-appearance: none;
  font-family: inherit;
}
@import 'header';
@import 'main';
@import 'footer';
@import 'mobile';
@import 'fonts';
