body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: hidden;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#works {
  top: 0;
  right: 0;
  transform-origin: bottom right;
  max-height: 100vh;
  overflow-y: scroll;
  color: #fff;
  background: #333;
  box-sizing: border-box;
  transform: skew(-10deg);
  flex: 1 1 100%;

  .work {
    position: relative;
    padding: 2em 2.5em;

    .title {
      font-size: 2em;
      margin: 0 0 0.25em 0;
      display: inline-block;
    }

    .summary {
      width: 65%;
      line-height: 1.4;
      font-size: 1em;
    }

    .metadata {
      font-weight: 400;
      font-size: 0.5em;
      vertical-align: middle;
      margin: 0 0 0 10px;
    }

    &:last-child {
      padding-bottom: 6em;
    }

    .links {
      margin: 1.5em 0 0 0;
      max-width: 35vw;
      height: 0;
      overflow-y: hidden;
      transition: all cubic-bezier(.07,.95,0,1) 0.3s;

      a {
        background: #fff;
        text-decoration: none;
        padding: 0 .75em;
        display: inline-block;
        margin: 0 1em 0.5em 0;
        transform: skew(15deg);
        font-weight: 700;
        border: 3px solid white;
        border-radius: 20px;
      }

      a:hover, a:focus {
        background-color: transparent !important;
        color: white !important;
      }
    }

    &:hover .links, &:focus-within .links{
      height: 36px;
    }
  }
}

#bio {
  max-width: 430px;
  margin: 0 0 0 2vmax;
  font-size: 1.3em;
  line-height: 1.5em;
}

@import 'mobile';
