meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="description" content="I've been a front-end web developer and designer since the early 2010s")
meta(name="viewport" content="width=device-width,initial-scale=1")
meta(name="title" content="Lucas Bersier")
meta(property="og:image" content="")
meta(property="twitter:image" content="")
title Lucas Bersier
link(inline rel="stylesheet" href="src/style/style.css")
