h1 Lucas Bersier
p I've been a front-end web developer and designer since the early 2010s.
p My goal is to design Web Apps with emphasis on accessibility, performance, and simplicity.
p
    | I have experience working with Angular.js, Vue, jQuery, Drupal 7, and other tools for&nbsp;
    abbr(title='Linux, Apache, MySql, PHP') LAMP
    | &nbsp;or&nbsp;
    abbr(title='Javascript, APIs, Markup') JAM
    |  stack development.