div.bio-container(:style="{borderColor: selectedWork.color, color: selectedWork.color}")
    h1 Lucas Bersier
    p My goal is to design Web Apps with emphasis on accessibility, performance, and simplicity.
    p I have experience working with Angular.js, Vue, jQuery, Drupal 7, and other tools for LAMP or JAM stack development.