div.bio-container(:style="{borderColor: selectedWork.color, color: selectedWork.color}")
    h1 Hello!
    p.
        My name is #[b Lucas Bersier]. I'm a web developer currently based in south-east Pennsylvania and I've been online since the early 2010s.
    p.
        My goal is to design Web Apps with emphasis on accessibility, performance, and simplicity.