div.bio-container(:style="{borderColor: selectedWork.color, color: selectedWork.color}")
    button.button-reset(@click="back($event)"
                        style="float:right"
                        aria-label="Return to home"
                        :style="{color: selectedWork.color}") x
    h1 {{selectedWork.name}}
        p {{selectedWork.summary}}
        ul(v-if="selectedWork.name")
            li(v-for="link in selectedWork.link")
                a(:href="link.url"
                  :style="{color: selectedWork.color, borderColor: selectedWork.color}"
                  rel="noopener"
                  target="_blank") {{link.title}}