button.work(v-for="work in works" @click="open(work)")
    b.title(:style="{color: selectedWork.color}") {{work.name}}
    div.overlay(:style="{backgroundColor:  work.bg, borderRadius: work.borderRadius}")
