div.contact.email
    a(target="_blank"
    rel="noopener"
    :style="{color: selectedWork.color, borderColor: selectedWork.color}"
    href="mailto:contact@lucasbersier.com") e-mail
div.contact.resume
    a(target="_blank"
    rel="noopener"
    :style="{color: selectedWork.color, borderColor: selectedWork.color}"
    href="https://lucasbersier.com/lucas_bersier-resume.pdf") resumé