doctype html
html(lang="en")
    head
        include 01-head.pug

    body
        div#container
            header#bio(:style="{borderColor: selectedWork.color}")
                include 02-bio.pug
            main#works
                include 03-works.pug
        include 04-footer.pug

script(src="src/js/works.js" inline)
script(src="src/js/app.js" inline)
