doctype html
html(lang="en")
    head
        include 01-head.pug

    body
        div#app(:style="{color: selectedWork.color}")
            transition(name="fade")
                div#container(v-if="!selectedWork.name")
                    header#bio(:style="{borderColor: selectedWork.color}")
                        include 02-bio.pug
                    main#works
                        include 03-works.pug
                div#selected-work(v-if="selectedWork.name")
                    include 03-selected-work.pug

            include 04-footer.pug

script(src="src/js/out/works.js" inline)
script(src="src/js/out/app.js" inline)
