doctype html
html(lang="en")
    head
        include 01-head.pug

    body
        div#container
            header#bio
                include 02-bio.pug
            main#works
                include 03-works.pug
        include 04-footer.pug

script.
    window.onload = function() {
        document.querySelectorAll('.work').forEach(function(work){
            work.onclick = function() {
                document.documentElement.style.backgroundColor =
                    work.getAttribute('data-color');
            }
        })
    }

