doctype html
html(lang="en")
    head
        include 01-head.pug

    body
        header#bio
            include 02-bio.pug
        main#works
            include 03-works.pug
        footer#contact
            include 04-footer.pug
